.hero {
    border-color: rgba(145, 44, 44, 0.54);
    border-width: 8px;
    border-style: solid; /* Define the style here */
    background-color: rgba(205, 92, 92, 0.561);
    position: relative;
}
.hero-title{
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #A52A2A;
    width: 800px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0; 
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.aboutus{
    font-size: 20px;
}
.menu-item{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.menu-title{
    width: 800px;
    color:aqua;
}